.topnav {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    display:flex;
    width: 100%;
    align-items:center;
  }
  .topnav nav a {
    float: left;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .CARAPOT {
    margin-right: auto;
    margin-left: auto;
    width: 25px;
  }
  .topnav nav a:hover {
    background: #ddd;
    color: black;
  }
  
  .topnav nav a div {
    display: flex;
    align-items: center;
  }
  
  .topnav .Search {
    right: 0;
    position: relative;
  }
  
  .topnav .Search img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1%;
  }
  
  #home {
    height: 580px;
    background-color: black;
    background: url(assets/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg); 
    padding: auto;
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
  }
  
.product_image{
    width: 275px;
    height: 240px;
}
.hr_product{
    width: 30%;
    border: 2px solid black;
}
.product_container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    padding: 10px;
}

.product {
    background-color:  white;

}